*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100%;
}

header
{
    background-color: #212529;
    /* display: none; */
}

section
{
    padding: 80px 0;
}

.heading
{
    text-align: center; 
    font-weight : bolder;
    margin-bottom: 20px;
}

.sub-heading
{
    text-align: center; 
    color: #9da29c;
    /* font-weight : bolder; */
}

.headings
{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 60px;
}

/* Navbar */

.navbar-brand h4
{
    color: white;
    margin: 0;
}

.navbar-brand
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar 
{
    /* display: flex; */
    /* justify-content: space-between; */
    display: none;
}

.navbar-items ul
{
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 0;
    gap: 20px;

}
.nav-item{
    /* padding:5px 20px; */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    color: white; 
}

.nav-item:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.nav-btn
{
    padding: 5px 20px;
}

.nav-btn a 
{
    color: white;
    text-decoration: none !important;
    /* padding: 5px 20px; */
}

.nav-btn
{
    background-color: #ff573d;
    border-radius: 15px;
}

.nav-btn-left
{
    margin-right: 15px;
}


/* Slider */


#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo .item
{
    min-height: 100vh;
    display: flex;
}

.item > .container
{
    min-height: 100%;
    display: flex;
    align-items: center;
    /* background-color: black; */
}

.header-text
{
    position: relative;
    z-index: 9;
}

.header-text h1{
    color: #ff573d;
    font-size: 40px;
    font-weight: 600;
}

.header-text p{
    color: white;
    font-weight:400;
    font-size: 12px;
}

.donate_btn
{
    display: inline;
    border-radius: 17px;
    padding: 5px 20px;
    border: 1px solid white;
}

.donate_btn a 
{
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-weight: bold;
}
.fa-arrow-right
{
    margin-left: 5px;
}

#owl-demo
{
    position:relative;
}

.item::before    
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#owl-demo .owl-dots
{
    /* background-color: red !important; */
    position:absolute;
    top: 90%;
    left: 50%;
}

.owl-carousel
{
    position: relative;
}


/* Help section */

.help-image
{
    background-size: cover;
    height: 100%;
    width: 100%;
}

.help hr{
    margin-top: 80px;
    margin-bottom: 80px;
}

.right-content 
{
    padding:15px;
    padding-left: 60px !important;
}

.right-content h6{
    font-size: 14px;
    color: #9da29c;
}

.right-content h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}

.right-content p{
    color: #9da29c;
    margin-bottom: 25px;

}

.help-donate_btn
{
    display: inline;
    border-radius: 17px;
    padding: 7px 20px !important;
    background-color: #ff573d;
    color: #fff;
    text-align: center;
}
.help-donate_btn a{
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-weight: bold; 
    padding: 0 !important;
    margin: 0;
}

.help-card i{
    font-size: 30px;
    color: #ff573d;
    padding-top: 15px;
}

.help-card .left
{
    text-align: center;
}

.help-card .right h6
{
    font-weight: bold;
}

.help-card .right p
{
    color: #9da29c;
}

.help-card .right
{
    padding: 12px;
}

/* NGO */

.ngo
{
    background-color: #282828;
}
.ngo p
{
    color: white;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-weight: 100;
}

.ngo h6{
    color: #ff573d;
    text-align: center;
    font-size: 12px;
}

/* Our causes */

.causes-card .upper i{
    font-size: 50px;
    color:#ff573d;
    margin-bottom: 20px;
}

.causes-card .lower p{
    font-size : small;
    color: #9da29c;
}

.causes-card .upper
{
    text-align: center;
}

.causes-card .lower
{
    text-align: center;
}

/* Charity */

.charity
{
    /* width: 100%; */
    /* display: flex; */
    /* flex-direction: row; */
    padding: 0 !important;
}

.charity .left
{
    /* width: 50%; */
    min-height: 500px;
    background-size: cover;
    /* background-image: url('assets/images/charity-img.avif'); */
    background-position: center;
    padding: 0 !important;
}
.charity .right
{
    background-color: #ff573d;
    color: white;
    padding: 40px;
}

.charity .right h3{
    margin: 0;
}

.charity .right p{
    font-size: 27px;
    font-weight: 200;
}

.charity .right hr
{
    margin: 40px 0;
}

.charity .right .menu
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.charity .right .menu h6
{
    font-size: 14px;
}

.menu-item p
{
    font-size: 16px !important;
    margin: 20px 0 ;
}

.video
{   
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.you-help-card
{
    text-align: center;
}

.you-help-card i{
    font-size: 50px;
    color:#ff573d;
    margin-bottom: 20px;
}

.you-help-card h6{
    font-weight: bold;
}

.you-help-card p{
    color: #9da29c;
    font-size: 13px;
}

/* Cindy */

.cindy
{
    background-position: center;
    position: relative;
}
.cindy::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adjust darkness (0 = transparent, 1 = full black) */
    z-index: 1;
}
.cindy-content{
    text-align: center;
    position: relative;
    color: white;
    z-index: 2;
    left: 0;
    top: 0;
    width: 60%;
    margin: 0 auto;
}

.cindy-content h6{
    font-size: 13px;
    font-weight: 400;
}

.cindy-content h3{
    color: #ff573d;
    margin-bottom: 15px;
}

.cindy-content p{
    margin-bottom: 50px;
    font-size: 13px;
}

/* Calculator */

.cal-items
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cal-item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cal-item h3
{
    font-size: 40px;
    font-weight: 500;
}

.cal-item p
{
    color: #9da29c;
}

.cal-item .divider
{
    height: 5px;
    width: 40px;
    background-color: #ff573d;
}

/* Success Story */

.story
{
    background-color: #f6f6f6;
    text-align: center;
}

.story .upper
{
    height: 300px;
    width: 100%;
    background-position: center;
    margin-bottom: 40px;
}

.story .lower .title
{
    margin-bottom: 20px;
}

.story .lower .title p
{   
    display: inline-block;
    padding: 3px 30px;
    background-color: #ff573d;
    color: white;
}

.story .lower h6{
    margin-bottom: 20px ;
}

.story .lower p
{
    color: #9da29c;
}

.story .lower .title p{
    margin: 0 !important;
}

/* Client Logos */

.client-logo
{
    background-color:#ff573d;
}

.logos
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo
{
    text-align: center;
}

.logos img
{
    height: 120px;
    color: white;
}

/* Help Form */

.form-content
{
    background-color: #ff573d;
}

.help-form .left
{
    min-height: 400px;
    background-position: center;
}

.help-form .right
{
    padding: 60px;
    color: white;
}

.help-form .right form input
{
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
}

.help-form .right h6
{
    font-weight: 300;
}

.help-form .right h3{
    font-size: 40px;
}

.sign-in
{   
    display: inline;
    border: 2px solid white;
    padding: 8px 25px;
    border-radius: 3px;
}

.sign-in a 
{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

/* Any Questions */

.any-questions
{
    background-color: #f6f6f6;
}

.contacts
{
    width: 100%;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding:30px; */
    width: 24%;
    height: 220px;
    transition: .5s;
}

.contact:hover
{
    opacity: 0.7;
    transform: scale(1.1);
}

.contact h6{
    text-align: center;
}

.contact p{
    color: #9da29c;
}

.contact i{
    font-size: 30px;
    color: #ff573d;
    margin-bottom: 20px;
    text-align: center;
}

/* Footer */

.footer-icons
{
    width: 40%;
    margin: 50px auto;
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: center;
    /* align-items: center; */
}

.footer-icons i
{   
    font-size: 20px;
    transition: .5s;
    color: #212529;
    /* margin: 20px; */
}

.footer-icons .col{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.footer-icons i:hover
{
    opacity:0.7;
    cursor: pointer;
    transform: scale(1.5);
}

footer p 
{
    text-align: center;
    color: #9da29c;
    font-size: 10px;
    margin:40px 0;
}

/* Media Queries */

@media (max-width:768px)
{
    .navbar-items{
        display: none;
    }
    .headings
    {
        width: 100%;
    }
    /* .item > .container
    {
        justify-content: center;
    } */
}

@media (max-width:576px) {
    .help-card{
        text-align: center;
    }
}

@media (max-width:992px) 
{
    .story
    {
        margin-bottom: 40px;
    }
}

@media (max-width:1024px) 
{
    .contact
    {
        width: 70%;
        margin:20px auto;
    }
    .help-image
    {
        padding-bottom: 40px !important;
    }
    .right-content
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 10px !important;
    }
}


